html, body {
  margin:0;
  padding: 0;
}
.bg-image {
  background: url(../images/mitchell-griest-unsplash.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.turquoise-text {
  font-family:"Fugaz One"; 
  color:turquoise;
}
.text-outline{
  -webkit-text-stroke-color: #f7a0bf;
    -webkit-text-stroke-width: 0.1vw;
}
.button-grid-container {
  display: grid;
  grid-template-columns:auto auto auto;
  text-align: center;
}
.button {
  background: none;
  border: none;
  transition-duration: 0.4s;
  font-size:3vw;
}
.button:hover {
  background:#f7a0bf;
  border-radius: 50%;
  transform: scale(1.5)
}
.header-type {
font-size: 9vw;
text-align: center;
white-space:nowrap;
}
.button-here {
  background:#f7a0bf;
  border-radius: 50%;
  transform: scale(1.5)
}
.blog-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  padding: 5vw;
  margin-right: 7vw;
  margin-left: 7vw;
}

.tech-button {
  background: url(../images/bust-icon.png);
    background-size: 10vw;
    height: 20vw;
    width: 25vw;
    border: none;
    font-family: "fugaz one";
    background-repeat: no-repeat;
    background-position: center;
   text-align: center;
   transition-duration:0.4s;
  
  
}
.tech-button:hover {
  transform: scale(1.5);
}
.button-text {
  font-size: 3vw;
  -webkit-text-stroke-color: #013052;
  -webkit-text-stroke-width: 0.09vw;
}
.body-type {
  font-family: "special elite";
  font-size:1.5vw;
  text-align:center;
  color:turquoise;
  padding:2vw;
}

.html-example{
  height: 20vw;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:2vw;
    margin-top:2vw;
}
.css-example {
  height: 20vw;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:2vw;
    margin-top:2vw;
}
.s2-example {
  height: 20vw;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:2vw;
  margin-top:2vw;
}
.banner {
  background: url(../images/mitchell-griest-unsplash.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 2vw;
}
.culture-button {
  background: url(../images/culture-icon-hand.png);
    background-size: 10vw;
    height: 20vw;
    width: 25vw;
    border: none;
    font-family: "fugaz one";
    background-repeat: no-repeat;
    background-position: center;
   text-align: center;
   transition-duration:0.4s;
}
.culture-button:hover {
  transform: scale(1.5);
}
fieldset {
  font-family: "special elite";
  font-size:1.5vw;
  color:turquoise;
  padding:2vw;
  border-color: #f7a0bf;
}
.main-content {
  width: 75%
}
.border {
  border-color: #f7a0bf;
  border-right-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  width: 75%;
}

code {
  background-color: #013052;
  color: #f7a0bf;
  font-family: 'Courier New', Courier, monospace;
}
.code-example {
  height: 20vw;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:2vw;
  margin-top:2vw;
}
.screenshot-example {
  background-color: turquoise;
  height: 20vw;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:2vw;
  margin-top:2vw;
  padding: 2.5vw;
}